<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaServer</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #002252 !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:white">DigiAsset</a>
        <div class="pull-right">
            <div id="last_block" style="color:white">Loading</div>
        </div>
      </div>
    </nav>
    <div style="padding:10px">
        <div id="updateBtn">
            <button class="btn btn-success" >Update Available (Version: 2.2.4)</button>
        </div>
        <h4>Meta Data:</h4>
        <hr class="col-md-8">
        <!--<div id="unsorted" class="table table-responsive">Loading</div>-->
        <div class="table-responsive col-md-8">
            <table class="table table-bordered table-striped" id="unsorted">
                <thead><tr><th>Cid</th><th></th><th></th><th></th></tr></thead>
            </table>
        </div>
        <br>
        <h4>Approved Meta Data</h4>
        <hr class="col-md-8">
        <div class="table-responsive col-md-8">
            <table class="table table-bordered" id="approved">
                <thead><tr><th>Cid</th><th></th></tr></thead><tbody>
            </table>
        </div>

        <div id="window">
            <iframe id="window_data"></iframe><br>
            <button id="window_approve" class="approve btn btn-success">Approve</button>
            <button id="window_reject" class="reject btn btn-danger">Reject</button>
            <button id="window_close" class="close btn btn-primary">Close</button>
        </div>
        <div id="shadow"></div>
    </div>

    <!-- Button modal -->
    <!--
    TRIGGER MODAL USING FUNCTION 
        var loginM = new bootstrap.Modal(document.getElementById('LoginModal'))
        loginM.show()
    -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">
      Popup Demo
    </button>

    <!-- Modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="MLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="MLabel">Sign in / Sign Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--modal end-->

    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/api.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>