.table {
    vertical-align: middle;
}
table {
    width: 100%;
}

td > label {
    color:  white;
}
.unsortedControl {
    width:207px;
}
.view {
    width:  57px;
    height: 32px;
    padding: 4px;
}
.approve {
    width: 32px;
    height: 32px;
    padding: 4px;
}
.reject {
    width:  32px;
    height: 32px;
    padding: 4px;
}
.arbig {
    width:  20%;
    height: 32px;
    padding: 4px;
}
.columnAssetId {
    max-width:  45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.columnCid {
    max-width:  45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.columnControls {
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    border: solid;
    border-width: thin;
}
.json {
    font-family: monospace;
    white-space: pre;
}
#shadow {
    position:     fixed;
    padding:      0;
    margin:       0;

    top:        0;
    left:       0;

    width:        100%;
    height:       100%;
    background:     rgba(0,0,0,0.5);
    display:      none;
    z-index:      999999;
}
#window {
    text-align:     center;
    margin:       0;
    position:       fixed;
    top:        50%;
    left:         50%;
    transform:      translate(-50%, -50%);
    display:      none;

    background-color:   white;
    border-radius:    2px;
    box-shadow:     0 0 15px;
    font-size:      14px;
    font-weight:    bold;
    background-color:   #EEEEEE;
    z-index:      1000000;
    width:        90%;
    height:       90%;
}
#window_data {
    width: 100%;
    height:calc(100% - 50px);
}
#updateBtn {
    margin-bottom: 10px;
    display: none;
}
table {
    background-color:#0066CC;
}
thead{
    color: white;
}

.nav-link {
    color:  white !important;
}

.navbar-light .navbar-toggler-icon {
    color: white;
    background-color: white;
    border-radius: 5px;
    padding: 18px;
}

.page {
    display: none;
}

#page_metadata {
    display: block;
}
.wallet {
    display: none;
}
.send_asset_assetId {
    display: none;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}


.kycStep {
    display: none;
}
#kycStep1 {
    display: block;
}
.kyc_option {
    display: none;
}

.asset_creator_step {
    display: none;
}
#asset_creator_step1 {
    display: block;
}
#asset_creator_dispersedFormulaBox {
    display: none;
}
#asset_creator_rulesSettingBox {
    display: none;
}

.asset_creator_fileEntry {
    border:         black;
    border-style:   solid;
    border-width:   thick;
    position:       relative;
    float:          left;
    width:          150px;
}

.asset_creator_fileName {
    font-size: small;
}
.asset_creator_fileName::before {
    font-size: small;
    font-weight:    bold;
    font-style:     italic;
    content:        "Name: ";
    width:          50px;
}

.asset_creator_fileType {
    font-size: small;
}
.asset_creator_fileType::before {
    font-size: small;
    font-weight:    bold;
    font-style:     italic;
    content:        "Type: ";
    width:          50px;
}

.asset_creator_fileSize {
    font-size: small;
}
.asset_creator_fileSize::before {
    font-size: small;
    font-weight:    bold;
    font-style:     italic;
    content:        "Size: ";
    width:          50px;
}

.asset_creator_filePreview {
    width:          150px;
    height:         100px;
}

.clear {
    clear:          both;
}

.clickable {
    cursor: pointer;
}

a {
    cursor: pointer;
}

a[disabled] {
    color:grey !important;
    cursor: default;
}

input:invalid {
    background-color: #ffdddd;
}

.asset_creator_assetId {
    display: none;
}
.hidden {
    display: none
}
.smallVerified {
    height: 35px;
}
.media-link {
    color: black !important;
}
.assetSubType {
    font-size: small;
    color: #707070;
}