/* Add custom fonts */

/* Chivo light */

@font-face {
    font-family: 'Chivo';
    src: url('/fonts/Chivo-Light.eot');
    src: url('/fonts/Chivo-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Chivo-Light.woff2') format('woff2'),
        url('/fonts/Chivo-Light.woff') format('woff'),
        url('/fonts/Chivo-Light.svg#Chivo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Chivo regular */

@font-face {
    font-family: 'Chivo';
    src: url('/fonts/Chivo-Regular.eot');
    src: url('/fonts/Chivo-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Chivo-Regular.woff2') format('woff2'),
        url('/fonts/Chivo-Regular.woff') format('woff'),
        url('/fonts/Chivo-Regular.svg#Chivo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Chivo bold */

@font-face {
    font-family: 'Chivo';
    src: url('/fonts/Chivo-Bold.eot');
    src: url('/fonts/Chivo-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Chivo-Bold.woff2') format('woff2'),
        url('/fonts/Chivo-Bold.woff') format('woff'),
        url('/fonts/Chivo-Bold.svg#Chivo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Nunito regular */

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Regular.eot');
    src: url('/fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('/fonts/NunitoSans-Regular.woff') format('woff'),
        url('/fonts/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Nunito bold */

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Bold.eot');
    src: url('/fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('/fonts/NunitoSans-Bold.woff') format('woff'),
        url('/fonts/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.table {
    vertical-align: middle;
}
table {
    width: 100%;
}

td > label {
    color:  white;
}
.unsortedControl {
    width:207px;
}
.view {
    width:  57px;
    height: 32px;
    padding: 4px;
}
.approve {
    width: 32px;
    height: 32px;
    padding: 4px;
}
.reject {
    width:  32px;
    height: 32px;
    padding: 4px;
}
.arbig {
    width:  20%;
    height: 32px;
    padding: 4px;
}
.columnAssetId {
    max-width:  45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.columnCid {
    max-width:  45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.columnControls {
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    border: solid;
    border-width: thin;
}
.json {
    font-family: monospace;
    white-space: pre;
}
#shadow {
    position:     fixed;
    padding:      0;
    margin:       0;

    top:        0;
    left:       0;

    width:        100%;
    height:       100%;
    background:     rgba(0,0,0,0.5);
    display:      none;
    z-index:      999999;
}
#window {
    text-align:     center;
    margin:       0;
    position:       fixed;
    top:        50%;
    left:         50%;
    transform:      translate(-50%, -50%);
    display:      none;

    background-color:   white;
    border-radius:    2px;
    box-shadow:     0 0 15px;
    font-size:      14px;
    font-weight:    bold;
    background-color:   #EEEEEE;
    z-index:      1000000;
    width:        90%;
    height:       90%;
}
#window_data {
    width: 100%;
    height:calc(100% - 50px);
}
#updateBtn {
    margin-bottom: 10px;
    display: none;
}
table {
    background-color:#0066CC;
}
thead{
    color: white;
}

.nav-link {
    color:  white !important;
}

.navbar-light .navbar-toggler-icon {
    color: white;
    background-color: white;
    border-radius: 5px;
    padding: 18px;
}

.page {
    display: none;
}

#page_metadata {
    display: block;
}
.wallet {
    display: none;
}
.send_asset_assetId {
    display: none;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}


.kycStep {
    display: none;
}
#kycStep1 {
    display: block;
}
.kyc_option {
    display: none;
}

.asset_creator_step {
    display: none;
}
#asset_creator_step1 {
    display: block;
}
#asset_creator_dispersedFormulaBox {
    display: none;
}
#asset_creator_rulesSettingBox {
    display: none;
}

.asset_creator_fileEntry {
    border:         black;
    border-style:   solid;
    border-width:   thick;
    position:       relative;
    float:          left;
    width:          150px;
}

.asset_creator_fileName {
    font-size: small;
}
.asset_creator_fileName::before {
    font-size: small;
    font-weight:    bold;
    font-style:     italic;
    content:        "Name: ";
    width:          50px;
}

.asset_creator_fileType {
    font-size: small;
}
.asset_creator_fileType::before {
    font-size: small;
    font-weight:    bold;
    font-style:     italic;
    content:        "Type: ";
    width:          50px;
}

.asset_creator_fileSize {
    font-size: small;
}
.asset_creator_fileSize::before {
    font-size: small;
    font-weight:    bold;
    font-style:     italic;
    content:        "Size: ";
    width:          50px;
}

.asset_creator_filePreview {
    width:          150px;
    height:         100px;
}

.clear {
    clear:          both;
}

.clickable {
    cursor: pointer;
}

a {
    cursor: pointer;
}

a[disabled] {
    color:grey !important;
    cursor: default;
}

input:invalid {
    background-color: #ffdddd;
}

.asset_creator_assetId {
    display: none;
}
.hidden {
    display: none
}
.smallVerified {
    height: 35px;
}
.media-link {
    color: black !important;
}
.assetSubType {
    font-size: small;
    color: #707070;
}
.description {
    border: black;
    border-width: thin;
    border-style: dashed;
    border-radius: 15px;
    margin: 0% 5% 0% 5%;
    padding: 5px;
}

#asset_creator_addressOptions_alt {
    border: black;
    border-style: dashed;
    border-radius: 20px;
    margin: 10px 10%;
    width: 80%;
}

/* ############# */ 
/* Customisation */
/* ############# */ 

p, body {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    color: #333;}

h1, h2, h3, h4, h5, h6 {
    font-family: "Chivo",sans-serif;
    font-weight: 600;
    color: #333; 
}

h4 {color: black; font-size: calc(1.275rem + .3vw);font-weight: 800;}

body {background: black;}

table {
    max-width: 95%;
}

.dgaXcol1 {color: #2964af;}
.dgaXcol2 {color: #07b2a9;}
.dgaXgradientFill, .table>thead, table {
    background: rgb(41,100,175);
    background: -moz-linear-gradient(74deg, rgba(41,100,175,1) 0%, rgba(41,100,175,1) 35%, rgba(7,178,169,1) 100%); 
    background: -webkit-linear-gradient(74deg, rgba(41,100,175,1) 0%, rgba(41,100,175,1) 35%, rgba(7,178,169,1) 100%);
    background: linear-gradient(74deg, rgba(41,100,175,1) 0%, rgba(41,100,175,1) 35%, rgba(7,178,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2964af",endColorstr="#07b2a9",GradientType=1);
}
table {border-radius: 15px;}

.navbar-expand-lg .navbar-nav {
    font-family: 'Chivo';
    font-weight: 700;
    font-size: 1.2rem;
}

.bg-light {
    background-color: #00225200 !important;
}

.navbar .navbar-brand img {
    max-width: 200px;
}

#videoBackground {
    position: fixed;
    right: 0;
    /*bottom: 0;*/
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-position: center center;
  }
  
.x-section-heading {
    margin: 50px 0 0 50px;
    width: 40%;
    background: #ffffffeb;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}
.x-section-info {
    margin: 0 0 0 50px;
    width: 60%;
    background: white;
    padding: 10px;
    border-radius: 0 20px 0 0;
}
.x-section-main, .dataTables_wrapper {
    background: #ffffffeb;
    padding: 10px;
    border-radius: 20px;  
}
.x-section-after {
    margin: 0 0 0 50px;
    width: 50%;
    background: white;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito Sans';
    font-weight: 800;
    line-height: 20px;
    border-radius: 20px;
    margin: 0 0 0 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-right: 10PX;
}

.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
    background-color: #ffffff;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    margin: 10px;
}

.btn {
    border-radius: 20px;
    margin: 0 3px;
}

/* table styling */


table.dataTable.no-footer {
    background: #ffffff00;
}

table.dataTable tbody tr {
    /*background-color: blue;*/
    margin: 5px 0;
}

table.dataTable tbody td {
    border-spacing: 5px;
    border: solid 5px #ededed;
    border-width: 5px 0 5px 0;
}

.columnApproved, .columnRejected, .columnControls, .columnHeight, .columnWalletLabel, .columnWalletIcon, .columnWalletBalance {
    text-align: center;
}

table.dataTable tbody .odd .columnWalletIcon, table.dataTable tbody .even .columnWalletIcon {
    border: 5px solid #ebebed;
    border-width: 5px 0 5px 0;
}

.cell {
    border-width: 2px;
    background: white;
}

.view {padding: 3px;}

table.dataTable.no-footer {
    border-bottom: none;
}

.th {background: linear-gradient(
    74deg, rgba(41,100,175,1) 0%, rgba(41,100,175,1) 35%, rgba(7,178,169,1) 100%);
}

.columnWalletIcon img {
    vertical-align: middle; 
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
}

#wallet_list_assets .columnWalletIcon {
border-radius: 30px 0 0 30px;
}

.columnWalletLabel, .columnApproved, .columnControls, .columnNarrowControls {
    border-radius: 30px 0 0 30px;
}

.columnSend, .columnCid, .columnUrl {
    border-radius: 0 30px 30px 0;
}

.asset_creator_fileEntry {
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    width: 170px;
    margin-right: 10px;
}

#filehasher_hashdata table {background: white!important;}

/* ##################### */ 
/* End of customisations */ 
/* ##################### */ 
